{% extends 'pages/Region/baseRegion.twig' %}

{% block main %}
    {% include 'partials/vue-wrapper.twig' with {
        id: 'vue-memberlist',
        component: 'member-list',
        props: {
            userId: userId,
            groupId: region.id,
            regionName: region.name,
            members: region.members,
            isWorkGroup: region.isWorkGroup,
            mayRemoveMembers: mayRemoveMembers
        }
    } %}
{% endblock %}
